.logo {
    height: 40px;
    width: auto;
    margin-right: 15px;
}

.feature-card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: blue;
    transition: width 0.1s ease;
}

.feature-card:hover::before {
    width: 5px;
}

.industryCard {
    color: white;
    height: 200px;
    border: none;
    position: relative;
    overflow: hidden;
}

.industryCardBody {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}