{% extends "index.html" %}

{% block title %} Expanded Job Roles {% endblock %}

{% block content %}

<div class="container">
    <h1><u>{{ job_title.title() }}</u> </h1>

    <!-- skill section -->


    <h3>Skills:</h3>

    <div class="d-flex flex-wrap">
        {% for skill in job_role.skill %}
        <div class="border rounded-pill d-inline p-1 m-1">
            {{ skill.title() }}
        </div>

        {% endfor %}

    </div>


    <br>

    <!-- Skills comparison chart-->
    <div>
        {{ chart | safe }}
    </div>

    <br>
    <!-- related course section -->
    <div>
        <h3>Related Courses</h3>
        <div>
            <ul>
                {% for course in courses %}
                <li>
                    <a href="{{ course.url }}" target="_blank">{{ course.name }}</a>
                </li>
                {% endfor %}
            </ul>

        </div>

    </div>

    <br>

    <!-- salary trend chart -->
    <div>
        <h3 class="text-center">Salary Trends</h3>
        <div>

            enter chart here
        </div>

    </div>

    <br>
    <!-- Skills in demand chart -->
    <div>

        <h3 class="text-center">Skills In Demand </h3>
        <div>

            enter chart here

        </div>

    </div>

    <br>

    <!-- Geographical Data chart -->

    <div>{{ jobMap | safe }}</div>

    <br>

    <!-- Related Jobs -->
    <div>

        <h3>Related Jobs</h3>
        <div>

            enter link here

        </div>

    </div>

    <br>

</div>
{% endblock %}