{% extends "index.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col mb-3">
            <a href="#">
                <div class="card industryCard"
                    style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIcaOM2XaTeH5vOikuxKHRQsG2PhgekdUrOQ&s');">
                    <div class="card-body text-center industryCardBodsdfhghgy">
                        <h5 class="card-title">Technology</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}