{% extends "index.html" %}

{% block title %} Add Skills {% endblock %}

{% block content %}

<div class="container mt-5">

    <h2>Use AI to extract skills</h2>

    <form id="uploadForm" action="{{ url_for('upload_resume') }}" method="POST" enctype="multipart/form-data">
        <!-- Hidden file input -->
        <input type="file" name="resume" id="resumeInput" style="display: none;" required>

        <!-- Custom button to trigger file input -->
        <button type="button" class="btn btn-outline-primary w-100" onclick="UploadResume()">
            Upload Resume
        </button>
    </form>

    <br>

    <form id="skillsForm" method="POST" action="/add_skills">
        <div class="skills-container">
            <h2>Add Skills Manually</h2>
            <div class="skill-list">
                <button type="button" class="btn btn-primary add-skill">+</button>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<script>
    function UploadResume() {
        const fileInput = document.getElementById('resumeInput');
        fileInput.click();

        // When a file is selected, automatically upload the file
        fileInput.onchange = function () {
            // Check if a file is selected
            if (fileInput.files.length > 0) { 
                document.getElementById('uploadForm').submit();
            }
        };
    }

    const addSkillButton = document.querySelector('.add-skill');
    const skillList = document.querySelector('.skill-list');

    addSkillButton.addEventListener('click', () => {
        const skillInput = document.createElement('input');
        skillInput.type = 'text';
        skillInput.name = 'skills';
        skillInput.className = 'form-control';
        skillInput.placeholder = 'Enter skill';

        const removeButton = document.createElement('button');
        removeButton.type = 'button';
        removeButton.className = 'btn btn-danger';
        removeButton.textContent = 'X';

        removeButton.addEventListener('click', () => {
            skillInput.remove();
            removeButton.remove();
        });

        skillList.appendChild(skillInput);
        skillList.appendChild(removeButton);
    });
</script>

{% endblock %}